div{
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 20px;
}
.logo{
    background: #eb6481;
    float: left;
}
.navigation{
    background: #d76a50;
    float: right;
}
.header{
    background: #f2a062;
    height: 100px;
}
.main{
    background: #8eabc0;
    color: white;
    float: left;
}
.sidebar{
    background: #b7ce3f;
    clear: both;
 height: 300px;
}
.post_title{
    float: left;
}
.text{
    background: black;
    opacity: 0.6;
    color: white;
    float: right;
    scale: 75%;
}
.image{
    background: black;
    opacity: 0.3;
    color: white;
    float: left;
}

.container {
    width: 1024px;
    margin: 0 auto; 
}