div{
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 20px;
}
.logo{
    background: #eb6481;
    float: left;
}
.navigation{
    background: #d76a50;
    float: right;
}
.header{
    background: #f2a062;
    height: 100px;
}
.main{
    background: #8eabc0;
    color: white;

}
.sidebar{
    background: #b7ce3f;
    clear: both;    
    height: 150px;

}

.text{
    background: black;
    opacity: 0.6;
    color: white;
    scale: 75%;
    text-transform: initial;
}
.image{
    background: black;
    opacity: 0.3;
    color: white;
    float: left;
}

.container {
    width: 1024px;
    margin: 0 auto; 
}